<div>
	<h2>
		Register
	</h2>
	<form [formGroup]="newUserForm">
		<label for="unamefield">Pick a username</label>
		<input
			type="text"
			name="username"
			id="unamefield"
			formControlName="userName"
		/>
		<label for="pwfield">Password</label>
		<input
			type="password"
			name="password"
			id="pwfield"
			formControlName="passPhrase"
		/>
	</form>
	<button (click)="verifyUser($event)">Verify user</button>
	<button (click)="submitNewUser($event)">Submit new User</button>

	<p>{{ used }}</p>
</div>
